body {
    margin: auto;
    width: 1200px;
    height: 1200px;
    background-color: rgb(218, 216, 216);
}
.game {
    width: auto;
    height: auto;
    display: grid;
    border: 5px solid rgba(0, 0, 0, 1);
    margin: auto;
    
}

h1 {
    text-align: center;
    font-size: 100px;
    
}



.box {
    color:rgb(218, 216, 216);
    vertical-align: middle;
    border: 1px solid black;
    
    text-align: center;
    font-size: 8vw;
    margin: 0;
    
}

.box:hover{
    background-color: lightblue;
    cursor: pointer;
}

.xmark {
    color: rgb(131, 1, 1);  
    
}
.omark{
    color: rgb(2, 2, 100);
}
.btn {
    text-align: center;
    margin: 5%;
    
}

.start {
    height: 40px;
    width: 70px;
    
}

.winner {
    font-size: 100px;
    
}

.first {
    color: rgb(131, 1, 1);
}

.second {
    color: rgb(2, 2, 100);
}